<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>song</title>
    <link rel="stylesheet" href="ssttylle.css">
</head>
<body>
    <header>
         <h1>ALL SONGS PAGE NO.3</h1>
        </header>
        <main>
            <hr>
        <img src="awara p.jpeg" width="200" height="200">

            <li>Song: Dope</li>

                <li> Singer: Arjan Dhillon</li>
                
                    <li> Lyricist: Arjan Dhillon</li>
                
                        <li>  Music By: Various Artists</li>
                
                            <li> Label: Brown Studios</li>
                
                                <li>  Releasing on: 25 Nov, 2021</li>
                
                                    <li> Duration: 04:03</li>
                                    <footer>
                                        <h1> Dope</h1>
                                        <audio src="Dope-Arjan-Dhillon.mp3" controls></audio>
                                    </footer>
                                    <hr>
        <img src="awara p.jpeg" width="200" height="200">

                                    <li>Song: Dass Billo</li>

                                        <li> Singer: Arjan Dhillon</li>
                                        
                                            <li> Lyricist: Arjan Dhillon</li>
                                        
                                                <li>  Music By: Various Artists</li>
                                        
                                                    <li>  Label: Brown Studios</li>
                                        
                                                        <li>  Releasing on: 25 Nov, 2021</li>
                                        
                                                            <li> Duration: 02:50</li>
                                                            <footer>
                                                                <h2>Dass Billo</h2>
                                                                <audio src="Dass-Billo-Arjan-Dhillon.mp3" controls></audio>
                                                            </footer>
                <hr>
        <img src="awara p.jpeg" width="200" height="200">

                <li>Song: Danabaad</li>

                    <li> Singer: Arjan Dhillon</li>
                    
                        <li>  Lyricist: Brown Studios</li>
                    
                            <li>Music By: Various Artists</li>
                    
                                <li>  Label: Arjan Dhillon</li>
                    
                                    <li>Releasing on: 25 Nov, 2021</li>
                    
                                        <li> Duration: 03:47</li> 
                                        <footer>
                                            <h1>Danabaad</h1>
                                            <audio src="Danabaad-Arjan-Dhillon.mp3" controls></audio>
                                        </footer>  
                <hr>
        <img src="arjan dhillon.jpg" width="200" height="200">

                <li>Song: Buckle</li>

                    <li> Singer: Arjan Dhillon</li>
                    
                        <li> Lyricist: Arjan Dhillon</li>
                    
                            <li> Music By: Desi Crew</li>
                    
                                <li> Label: Arjan Dhillon</li>
                    
                                    <li> Releasing on: 15 Nov, 2021</li>
                    
                                        <li> Duration: 02:46</li>   
                                        <footer>
                                            <h2>Buckle</h2>
                                            <audio src="Buckle-Arjan-Dhillon.mp3" controls></audio>
                                        </footer>  
                <hr>
        <img src="arjan putt.jpg" width="200" height="200">

                <li>Song: Galbaat</li>

                    <li>Singer: Arjan Dhillon</li>
                    
                    <li> Lyricist: Arjan Dhillon</li>
                    
                        <li>Music By: Desi Crew</li>
                    
                            <li>Label: Arjan Dhillon</li>
                    
                                <li> Releasing on: 15 Nov, 2021</li>
                    
                                    <li>Duration: 03:40</li>   
                                    <footer>
                                        <h1>Galbaat</h1>
                                        <audio src="Galbaat-Arjan-Dhillon.mp3" controls></audio>
                                    </footer> 
                <hr>
        <img src="magar  nhi.jpg" width="200" height="200">

                <li>Song: Vatt Da Raula</li>

                    <li>Singer: Arjan Dhillon</li>
                    
                        <li>Lyricist: Arjan Dhillon</li>
                    
                            <li>Music By: Desi Crew</li>
                    
                                <li>Label: vlcmusic Exclusives</li>
                    
                                    <li>Releasing on: 15 Nov, 2021</li>
                    
                                        <li>Duration: 02:20</li>     
                                        <footer>
                                            <h2>Vatt Da Raula</h2>
                                            <audio src="Vatt-Da-Raula-Arjan-Dhillon.mp3" controls></audio>
                                        </footer> 
                <hr>
        <img src="koke p.jpeg" width="200" height="200">

                <li>Song: Koke</li>

                    <li> Singer: Shipra Goyal,Arjan Dhillon</li>
                    
                        <li>Lyricist: Arjan Dhillon</li>
                    
                            <li> Music By: Dr Zeus</li>
                    
                                <li> Label: Blue Beat Studios</li>
                    
                                    <li>Releasing on: 14 Oct, 2021</li>
                    
                                        <li> Duration: 03:54</li>    
                                        <footer>
                                            <h1> Koke</h1>
                                            <audio src="Koke-Shipra-Goyal-Arjan-Dhillon.mp3" controls></audio>
                                        </footer>    
                <hr>
        <img src="jaan p.jpeg" width="200" height="200">

                <li>Song: Jaan</li>

                    <li> Singer: Arjan Dhillon</li>
                    
                        <li>  Lyricist: Arjan Dhillon</li>
                    
                            <li>Music By: Mxrci</li>
                    
                                <li>Label: PenduJatt Music</li>
                    
                                    <li> Releasing on: 04 Oct, 2021</li>
                    
                                        <li> Duration: 03:53</li> 
                                        <footer>
                                            <h2>jaan</h2>
                                            <audio src="Jaan-Arjan-Dhillon.mp3" controls></audio>
                                        </footer> 
                <hr>
        <img src="kalli shoni p.jpeg" width="200" height="200">
                
                <li>Song: Kalli Sohni</li>
                
                    <li>Singer: Arjan Dhillon</li>
                    
                    <li>Lyricist: Arjan Dhillon</li>
                    
                    <li>  Music By: Yeah Proof</li>
                    
                        <li>  Label: Brown Studios</li>
                    
                            <li> Releasing on: 30 Sep, 2021</li>
                    
                                <li>Duration: 02:51</li> 
                                <footer>
                                    <h1> Kalli Sohni</h1>
                                    <audio src="Kalli-Sohni-Arjan-Dhillon.mp3" controls></audio>
                                </footer>       
                <hr>
        <img src="my rools p.jpeg" width="200" height="200">

                <li>Song: My Rulez</li>

                    <li> Singer: Arjan Dhillon</li>
                    
                        <li>Lyricist: Arjan Dhillon</li>
                    
                            <li>Music By: Yeah Proof</li>
                    
                                <li>Label: White Hill Music</li>
                    
                                    <li>Releasing on: 10 Aug, 2021</li>
                    
                                        <li>Duration: 02:48</li>
                                        <footer>
                                            <h2>My Rulez</h2>
                                            <audio src="My-Rulez-Arjan-Dhillon.mp3" controls></audio>
                                        </footer>       
                <hr>
        <img src="phali peshi p.jpeg" width="200" height="200">

                <li>Song: Pehli Peshi</li>

                    <li>Singer: Arjan Dhillon</li>
                    
                        <li>Lyricist: Arjan Dhillon</li>
                    
                            <li>Music By: J Statik</li>
                    
                                <li>Label: Brown Studios</li>
                    
                                    <li>Releasing on: 05 Jul, 2021</li>
                    
                                        <li>Duration: 03:35</li>
                                        <footer>
                                            <h1>Pehli Peshi</h1>
                                            <audio src="Pehli-Peshi-Arjan-Dhillon.mp3" controls></audio>
                                        </footer>
                                        <hr>
        <img src="pinda de naa p.jpeg" width="200" height="200">

                                        <li>Song: Pindan De Naa</li>

                                            <li>  Singer: Arjan Dhillon</li>
                                            
                                                <li> Lyricist: Arjan Dhillon</li>
                                            
                                                    <li>  Music By: Bling Singh</li>
                                            
                                                        <li>  Label: Brown Studios</li>
                                            
                                                            <li> Releasing on: 30 May, 2021</li>
                                            
                                                                <li> Duration: 03:45</li>
                                                                <footer>
                                                                    <h2> Pindan De Naa</h2>
                                                                    <audio src="Pindan-De-Naa-Arjan-Dhillon.mp3" controls></audio>
                                                                </footer>
                <hr>
        <img src="jagde rho p.jpeg" width="200" height="200">

                <li>Song: Jagde Raho</li>

                    <li>Singer: Arjan Dhillon</li>
                    
                    <li> Lyricist: Arjan Dhillon</li>
                    
                        <li> Music By: Desi Crew</li>
                    
                            <li> Label: Brown Studios</li>
                    
                                <li> Releasing on: 12 May, 2021</li>
                    
                                    <li>  Duration: 03:30</li>
                                    <footer>
                                        <h1>Jagde Raho</h1>
                                        <audio src="Jagde-Raho-Arjan-Dhillon.mp3" controls></audio>
                                    </footer>
                <hr>
        <img src="yaar p.jpeg" width="200" height="200">

                <li>Song: Yaar</li>

                    <li>  Singer: Arjan Dhillon</li>
                    
                        <li>  Lyricist: Arjan Dhillon</li>
                    
                            <li>  Music By: Yeah Proof</li>
                            
                                <li>  Label: Brown Studios</li>
                                    
                                        <li>  Releasing on: 23 Apr, 2021</li>
                    
                                            <li> Duration: 03:00</li>
                                            <footer>
                                                <h2>Yaar</h2>
                                                <audio src="Yaar-Arjan-Dhillon.mp3"></audio>
                                            </footer>
                <hr>
        <img src="ki pta p.jpeg" width="200" height="200">

                <li>Song: Ki Pta</li>

                    <li>Singer: Arjan Dhillon</li>
                    
                    <li> Lyricist: Arjan Dhillon</li>
                    
                        <li>Music By: Yeah Proof</li>
                    
                            <li>Label: Brown Studios</li>
                    
                                <li>Releasing on: 08 Apr, 2021</li>
                    
                                    <li>Duration: 01:26</li>
                                    <footer>
                                        <h1>Ki Pta</h1>
                                        <audio src="Ki-Pta-Arjan-Dhillon.mp3" controls></audio>
                                    </footer>
                <hr>
        <img src="kkopp.jpg" width="200" height="200">

                <li>Song: Cream</li>

                    <li>  Singer: Arjan Dhillon</li>
                    
                        <li> Lyricist: Arjan Dhillon</li>
                    
                            <li> Music By: Jayb Singh</li>
                    
                                <li>Label: PenduJatt Music</li>
                    
                                    <li>Releasing on: 08 Mar, 2021</li>
                    
                                        <li>Duration: 03:31</li>
                                <footer>
                                    <h2>Cream</h2>
                                    <audio src="Cream-Arjan-Dhillon.mp3"></audio>
                                </footer>
                 <hr>
        <img src="arjan putt.jpg" width="200" height="200">

                 <li>Song: Khyaal</li>

                    <li> Singer: Arjan Dhillon</li>
                    
                        <li> Lyricist: Arjan Dhillon</li>
                    
                            <li>music By: Preet Hundal</li>
                    
                                <li>Label: PenduJatt Music</li>
                    
                                    <li> Releasing on: 08 Mar, 2021</li>
                    
                                        <li>  Duration: 03:10</li>
                                        <footer>
                                            <h1>Khyaal</h1>
                                            <audio src="Khyaal-Arjan-Dhillon.mp3" controls></audio>
                                        </footer>
                <hr>
        <img src="arjan dhillon.jpg" width="200" height="200">

                <li>Song: Patarkaar</li>

                    <li>Singer: Arjan Dhillon</li>
                    
                    <li>Lyricist: Arjan Dhillon</li>
                    
                    <li>Music By: Amrit Pamal</li>
                    
                    <li>Label: PenduJatt Music</li>
                    
                    <li>Releasing on: 06 Mar, 2021</li>
                    
                    <li> Duration: 02:30</li>
                    <footer>
                        <h1>Patarkaar</h1>
                        <audio src="Patarkaar-Arjan-Dhillon.mp3" controls></audio>
                    </footer>
        </main>
        <hr>
        <main>
        <h1><a href="songssongs.html">1.page</a></h1><h1><a href="2.page.html">2.page</a></h1><h1><a href="3.page.html">3.page</a></h1><h1><a href="4.page.html">4.page</a></h1>
        <h2><a href="ARJAN DHILLO ALL SONGS.HTML">BACK HOME</a></h2>
        </main>
</body>
</html>