<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>songs</title>
    <link rel="stylesheet" href="ssttylle.css">
</head>
<body>
    <header>
        <h1>ALL SONGS PAGE NO.4</h1>
    </header>
    <main>
        <hr>
        <img src="arjan putt.jpg" width="200" height="200">
        <li>Song: Kishtan</li>

            <li> Singer: Arjan Dhillon</li>
            
                <li> Lyricist: Arjan Dhillon</li>
            
                    <li> Music By: Preet Hundal</li>
            
                        <li> Label: PenduJatt Music</li>
            
                            <li> Releasing on: 04 Mar, 2021</li>
            
                                <li> Duration: 03:42</li>
                                <footer>
                                    <h1> Kishtan</h1>
                                    <audio src="Kishtan-Arjan-Dhillon.mp3" controls></audio>
                                </footer>
            <hr>
            <img src="kkopp.jpg" width="200" height="200">
            <li>Song: Beganiya Rattan</li>

                <li> Singer: Arjan Dhillon</li>
                
                    <li> Lyricist: Arjan Dhillon</li>
                
                        <li>  Music By: Mxrci</li>
                
                            <li>Label: PenduJatt Music</li>
                
                                <li> Releasing on: 23 Feb, 2021</li>
                
                                    <li> Duration: 03:19</li>
                                <footer>
                                    <h2>Beganiya Rattan</h2>
                                    <audio src="Beganiya-Rattan-Arjan-Dhillon.mp3" controls></audio>
                                </footer>
            <hr>
            <img src="arjan dhillon.jpg" width="200" height="200">
            <li>Song: Gutt Full Mp3 Song</li>

                <li> Singer: Arjan Dhillon</li>
                
                    <li>  Lyricist: Arjan Dhillon</li>
                
                        <li>  Music By: Mxrci</li>
                
                            <li>Label: Brown Studios</li>
                
                                <li> Releasing on: 12 Feb, 2021</li>
                
                                    <li> Duration: 03:46</li>
            <footer>
                <h1> Gutt Full Mp3 Song</h1>
                <audio src="Gutt-Full-Mp3-Song-Arjan-Dhillon.mp3" controls></audio>
            </footer>
            <hr>
            <img src="kkopp.jpg" width="200" height="200">
            <li>Song: Jutti (Leaked Song)</li>
                
                <li> Singer: Arjan Dhillon</li>
                
                    <li> Lyricist: Arjan Dhillon</li>
                
                        <li> Music By: Mxrci</li>
                
                            <li> Label: PenduJatt Exclusive</li>
                
                                <li> Releasing on: 07 Jan, 2021</li>
                
                                    <li> Duration: 01:44</li>
                                    <footer>
                                        <h2>Jutti (Leaked Song)</h2>
                                        <audio src="Jutti--Leaked-Song--Arjan-Dhillon.mp3" controls></audio>
                                    </footer>
            <hr>
            <img src="arjan putt.jpg" width="200" height="200">
            <li>Song: Ohdi Sheli (Leaked Song)</li>

                <li>Singer: Arjan Dhillon</li>
                
                <li>Lyricist: Arjan Dhillon</li>
                
                <li></li>Music By: Dark Willow Music</li>
                
                <li> Label: PenduJatt Exclusive</li>
                
                    <li> Releasing on: 06 Jan, 2021</li>
                
                        <li> Duration: 02:24</li>
                        <footer>
                            <h2>Ohdi Sheli (Leaked Song)</h2>
                            <audio src="Ohdi-Sheli--Leaked-Song--Arjan-Dhillon.mp3" controls></audio>
                        </footer>
    </main>
    <hr>
    <main>
<h1><a href="songssongs.html">1.page</a></h1><h1><a href="2.page.html">2.page</a></h1><h1><a href="3.page.html">3.page</a></h1><h1><a href="4.page.html">4.page</a></h1>
<h2><a href="ARJAN DHILLO ALL SONGS.HTML">BACK HOME</a></h2>
</main>
</body>
</html>